.admin-login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
  }
  
  .admin-login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .admin-login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .admin-login-container label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .admin-login-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .admin-login-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .admin-login-container button[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
  }
  
  /* Center the admin login container vertically and horizontally */
  html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5; /* Light gray background */
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  