.container {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.modal.active {
  display: block;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cancel-button {
  background-color: #dc3545;
}

.modal-content .seats-layout {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.seat-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.seat {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.available-seat {
  background-color: #5cb85c;
}

.booked-seat {
  background-color: #f0ad4e;
}

.selected-seat {
  background-color: #cf5803;
}

.seats-layout .seat-row .seat .selected-seat {
  background-color: red;
}

.seats-layout .seat-row .seat .seat-item {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-item {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.movie-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.movie-item h4 {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.movie-item p {
  margin-top: 5px;
  font-size: 14px;
}

.movie-item button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shapes-6 {
  width: 40px;
  height: 40px;
  display: grid;
  animation: sh6-0 1.5s infinite linear;
  margin: 50px;
  margin-left: 50%;
}

.shapes-6:before,
.shapes-6:after {
  content: "";
  grid-area: 1/1;
  background: #514b82;
  animation:
    sh6-1 1.5s infinite linear,
    sh6-2 1.5s infinite linear;
}

.shapes-6:after {
  --s: -1;
  animation-direction: reverse;
}

@keyframes sh6-0 {
  0%, 9%, 91%, 100% {
    background: #514b82;
  }

  10%, 90% {
    background: #0000;
  }
}

@keyframes sh6-1 {
  0%, 33% {
    clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
  }

  66%, 100% {
    clip-path: polygon(50% 0, 50% 100%, 50% 0, 100% 100%, 0 100%);
  }
}

@keyframes sh6-2 {
  0%, 10%, 90%, 100% {
    transform: scale(var(--s, 1)) translateY(0);
  }

  33%, 66% {
    transform: scale(var(--s, 1)) translateY(50%);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 5px;
}

